.card-wrapper {
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    align-items: center;
}

.post:hover {
    cursor: pointer;
}

.italics {
    font-style: italic;
}